<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="js/jquery-1.11.0.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-translate.min.js"></script>
    <script src="lib/angular-translate-loader-static-files.min.js"></script>
    <script src="lib/ionic/js/angular/angular-route.min.js"></script>
    <script src="lib/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="lib/ionic/js/angular/angular-route.min.js"></script>


    <!-- your app's js -->
    <script src="app/modules/app.js"></script>
    <script src="app/config/config.js"></script>
    <script src="app/routes/routes.js"></script>
    <script src="app/views/howtouse/howtouseController.js"></script>
    <script src="app/views/about/aboutController.js"></script>
    <script src="app/views/feedback/feedbackController.js"></script>
    <script src="app/routesController.js"></script>

    <!-- cordova js -->
    <script src="cordova.js"></script>

    <style>

    </style>
</head>
<body ng-app="jedcouvre">
<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left">
        <div class="image-header">
            <img src="img/icon-edc.png" height="100"/>
            <h4>{{'AppName'|translate}}</h4>
        </div>
        <div class="list" ng-controller="routesController as vm">

            <a class="item item-icon-left" ng-click="vm.goTo('howtouse')">
                <i class="icon ion-lightbulb"></i>
                {{'HowToUse'|translate}}
            </a>

            <a class="item item-icon-left" ng-click="vm.goTo('feedback')">
                <i class="icon ion-information-circled"></i>
                {{'SupportAndFeedback'|translate}}
            </a>

            <a class="item item-icon-left" ng-click="vm.showAbout()">
                <i class="icon ion-help-circled"></i>
                {{'About'|translate}}
            </a>

        </div>
    </ion-side-menu>

    <ion-side-menu-content>
        <ion-pane>
            <ion-header-bar class="bar-calm">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                <h1 class="title">{{'AppName'|translate}}</h1>

            </ion-header-bar>
            <ion-content>
                <div ng-view>

                </div>
            </ion-content>

            <div class="bar bar-footer"
                 style="text-align: center; display: block;    line-height: 30px;    font-size: 3vw;">
                {{'Copyright'|translate}}
            </div>
        </ion-pane>
    </ion-side-menu-content>

</ion-side-menus>

</body>
</html>
