<h4 style="font-size: 1rem;
    margin-left: 20px;margin-right: 20px">
    <span>
    {{'AvailablePictureToScan'|translate}}
</span>
    <img src='./../../../img/icon-edc.png' height="25"/>
    <span>
    {{'AvailablePictureToScan2'|translate}}
    </span>

</h4>
<h4 style="font-size: 1rem;
    margin-left: 20px;margin-right: 20px">
    {{'AvailablePictureToScan3'|translate}}
</h4>
<div style="display: grid;margin-top: 20px">
    <img style="margin:0 auto" src="../../../img/startClipper.jpe"/>
</div>
<!--<div class="row gallery">-->
<!--<div class="list card" style="flex: 45%" ng-repeat="catalogue in vm.catalogues">-->
<!--<div class="item item-divider">-->
<!--{{catalogue.name}}-->
<!--</div>-->
<!--<div class="item item-body text-center full-height">-->
<!--<img class="col col-50" ng-repeat="item in catalogue.items" ng-src="{{item.images[0].thumb_120}}"-->
<!--style="height: 120px;width:120px;display: inline-block;"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<style>
    .gallery {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
</style>