/*#region Helper */

.full-height {
    height: 100%;
}

/*#endregion */
#app-content {
    height: 100vh;
}

div#scanner-container {
    height: calc(100vh - 40px);
}

.image-container {
    position: absolute;
    top: 47%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.image-container > img {
    height: 35%;
}

footer {
    background-color: black;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100px;
}

#shutterButton {
    text-align: center;
    vertical-align: middle;
    position: relative;
    line-height: 30px;
}


#mybutton {
    height: 100%;
}

#popUpDiv {
    background-color: #ECECEC;
    display: none;
}

#popUpMainDiv {
    margin-top: 42px;
    height: calc(100% - 88px);
}

#responseDiv {
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    overflow: hidden;
    height: 100%;
}

#closeButton {
    position: absolute;
    right: 4%;
    top: 2%;
    width: 20px;
    background-color: rgba(33,33,33,0.4);
    z-index: 1;
    max-width: 80%;
    max-height: 80%;
}

#imageResponse {
    margin-top: 5px;
    margin-bottom: 10%;
    width: 100%;
    height: 40%;
    max-height: 40%;
    min-height: 40%;
}

#imageResponse > img {
    width: 100%;
}

#textResponse {
    margin: 0 5%;
    font-weight: 500;
    font-family: Roboto;
    color: #575962;
    height: 43%;
    max-height: 43%;
    min-height: 43%;
    overflow: auto;
}

#textResponse > h1 {
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
}

#textResponse > p#dataResponse {
    overflow: auto;
}

#urlResponse {
    width: 98%;
}

footer {
    background-color: black;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100px;
}
